<div class="container">
  <h1>Welcome to Twitter Client !</h1>
  
  <form method='post' action='/username'>
    <input type='text' name='username'>
    <button id="button">Submit</button>
  </form>

<div id="tweets">
</div>
</div>
